name: Build/Publish Image

on:
  push:
    branches:
      - master
    paths:
      - 'Makefile'
      - 'Dockerfile'
      - 'VERSION'
  pull_request:
    paths:
      - 'Makefile'
      - 'Dockerfile'
      - 'VERSION'

env:
  BUILDX_CACHE_DIR: /tmp/buildx

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [25.3.2.9, 26.2.5.2, 27.0.1]
        alpine: [3.19.3]
        latest: [false]
        include:
          - otp: 27.0.1
            alpine: 3.19.3
            latest: true
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v1

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker Layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/buildx
        key: buildx-alpine${{ matrix.alpine }}-erlang${{ matrix.otp }}
        restore-keys: |
          buildx-alpine${{ matrix.alpine }}-erlang
          buildx-alpine${{ matrix.alpine }}-
          buildx-alpine

    - name: Build/Validate Image
      env:
        VERSION: ${{ matrix.otp }}
        ALPINE_VERSION: ${{ matrix.alpine }}
      run: make validate

    - name: Login
      if: ${{ github.event_name == 'push' }}
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Publish Image
      if: ${{ github.event_name == 'push' }}
      env:
        VERSION: ${{ matrix.otp }}
        ALPINE_VERSION: ${{ matrix.alpine }}
        IS_LATEST: ${{ matrix.latest }}
      run: make release
